@{
    ViewData["Title"] = "Home Page";
}

<div class="card">
    <div class="card-body text-center">
        <h1 class="card-title">Welcome</h1>
        <p class="card-text">Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </div>
</div>
