@model BourbonWeb.Models.Sample

@{
    ViewData["Title"] = "サンプルデータ登録";
}

<div class="card">
    <div class="card-header">
        <h3 class="card-title mb-0">サンプルデータ登録</h3>
    </div>
    <div class="card-body">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="mb-3">
                <label asp-for="Name" class="form-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Price" class="form-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Description" class="form-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="text-end">
                <input type="submit" value="登録" class="btn btn-primary" />
            </div>
        </form>
    </div>
    <div class="card-footer">
        <a asp-action="Index" class="btn btn-link">戻る</a>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
